.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    flex-flow: row; 
    justify-content: space-between; 
    justify-content: center; 
    align-items: center;
    
    
    
}

.item{
    border: 1 ;
    border-style: dotted;

}